@{
    Layout = null;
}
<style>
    .label-success {
        color:#00ff21;
    }

    .label-danger {
        color: #e82222;
    }

</style>
<div>
    <section class="content-header"><h1>
    Smart Manager OS
    <small>your private manager for all solutions</small>
        </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Welcome</li>
            </ol>
    </section>
    <section class="content" ng-init="validaToken()">
        <div class="row">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Welcome to Smart Manager OS - Spotify Version</h3>
                </div>
                <div class="box-body">
                   Use our left menu to navigate.
                </div>
                <div class="box-footer">
                    Your current state is: 
                    <div class="label"
                         ng-class="{'label-success': userState === 'online', 'label-danger': userState === 'offline'}">
                        {{userState}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
